<div class="container-fluid" id="top-header">
  <header>
    <nav class="navbar">
        <div class="container-fluid">
            <div>
              <h2>Terminator</h2>
            </div>
            <div class="nav navbar-nav1">
                <a href="#" class="btn btn1">{{'Home'|translate}}</a>
                <a href="#" class="btn">{{'APPOINTMENT'|translate}}</a>
                <a href="#" class="btn">{{'SETTING'|translate}}</a>
            </div>
        </div>
    </nav>
</header>
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

