<div class="container-fluid">
    <div class="myContainer">
        <div  id="divCol1">
            <button class="myBtnMenu" routerLink="/appointment-list" routerLinkActive="active" ariaCurrentWhenActive="page" mat-fab
                color="accent" matTooltip="{{'CHECK APPOINTMENTS HINT'|translate}}" matBadge="4" matBadgeColor="warn">
                <mat-icon>calendar_view_day</mat-icon>
            </button>
        </div>
        <div id="divCol2">
            <button mat-fab class="myBtnMenu" routerLink="/appointment-form" routerLinkActive="active" ariaCurrentWhenActive="page" 
                color="primary" matTooltip="{{'MAKE APPOINTMENT HINT'|translate}}">
                <mat-icon>query_builder</mat-icon>
            </button>
        </div>
    </div>
</div>

<floating-button [currentView]="view"></floating-button>


 
<!--<p>
    <select #langSelect style="float: right;" (change)="changeLanguage(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
    </select>
    {{"FLAG"|translate}}
</p>-->