.container-fluid{
    padding: 0;
}
.myContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#divCol1, #divCol2{
    width: 50%;
    text-align: center;
    line-height: 100vh;
}
.myBtnMenu{
    width: 10%;
    height: 10%;
}

#divCol1{
    background-color: #3F51B5;
    accent-color: white;
}



 


@media screen and (max-width:480px) {

    .myContainer{
        flex-direction: column;
    }
    #divCol1, #divCol2{
        width: 100%;
        line-height: 50vh;
    }
    .myBtnMenu{
        width: 22%;
        height: 25%;
    }
}

