<!--
    Formular indem der Nutzer ein Termin buchen kann.
-->

<div>
</div>

<mat-card id="card-appointment-form">
  <mat-card-header>
    <mat-card-title>{{"DATECHOICE"|translate}}</mat-card-title>
    <button [routerLink]="routeUrl" routerLinkActive="active" ariaCurrentWhenActive="page" mat-fab
      color="primary"><mat-icon>home</mat-icon></button><!--routeUrl not working somehow-->
  </mat-card-header>
  <mat-card-content>
    <mat-stepper [linear]="isLinear" #stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="clerkFormGroup">
        <form [formGroup]="clerkFormGroup">
          <ng-template matStepLabel="t">{{"CLERKCHOICE"|translate}}</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>{{"CLERKCHOICE_PROMPT"|translate}}</mat-label>
            <mat-select formControlName="clerkCtrl" #clerkInput required>
              <mat-option *ngFor="let clerk of dbClerks" [value]="clerk.id">
                {{clerk.firstName}}&nbsp;{{clerk.lastName}} 
              </mat-option>
            </mat-select>
          </mat-form-field>          
          <div>
            <button mat-button (click)="setCurrentClerk(clerkInput.value)" matStepperNext>{{"NEXT"|translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{"DATECHOICE"|translate}}</ng-template>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{"DATECHOICE_PROMPT"|translate}}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateCtrl" #dateInput (dateChange)="setCurrentDate(dateInput.value)"  required>
              <mat-hint>{{"DATE_FORMAT"|translate}}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{"BACK"|translate}}</button>
            <button mat-button matStepperNext>{{"NEXT"|translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>{{"TIME"|translate}}</ng-template>
          <div *ngIf="times.length > 0">
            <p>{{"PROMPT APPOINTMENT FORM STEP 2"|translate}}</p>
            <mat-chip-listbox aria-label="Time selection" formControlName="timeCtrl" required>
              <mat-chip-option *ngFor="let time of times" [value]="time.value">{{time.timeValue}}</mat-chip-option>
            </mat-chip-listbox>
          </div>
          <div *ngIf="times.length <= 0">
            <p>{{"EMPTY_TIMES"|translate}}</p>
          </div>
          
          <div>
            <button mat-button matStepperPrevious>{{"BACK"|translate}}</button>
            <button mat-button (click)="setCurrentTime()" matStepperNext>{{"NEXT"|translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{"DONE"|translate}}</ng-template>
        <p>{{"APPOINTMENT FORM CONFIRMATION"|translate}}</p>
        <qrcode [qrdata]="qrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <div>
          <button mat-button matStepperPrevious>{{"BACK"|translate}}</button>
          <button mat-button (click)="openSnackBar()">{{"CONFIRM"|translate}}</button> <!--onAppointmentCommit()-->
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <p>
      <select #langSelect style="float: right;" (change)="changeLanguage(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
      </select>
      {{"FLAG"|translate}}
    </p>
  </mat-card-footer>
</mat-card>

<dialog>blabla</dialog>