<!--
    Formular indem der Nutzer ein Termin buchen kann.
-->

<mat-card id="card-appointment-form">
  <mat-card-header>
    <mat-card-title>{{"DATECHOICE"|translate}}</mat-card-title>
    <button routerLink="/user/home" routerLinkActive="active" ariaCurrentWhenActive="page" mat-fab
      color="primary"><mat-icon>home</mat-icon></button><!--Noch mehr Übersetzung nötig - vor allem für fr-->
  </mat-card-header>
  <mat-card-content>
    <mat-stepper [linear]="isLinear" #stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel="t">{{"CLERKCHOICE"|translate}}</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>{{"CLERKCHOICE_PROMPT"|translate}}</mat-label>
            <mat-select formControlName="dateCtrl" required>
              <mat-option *ngFor="let clerk of clerks" [value]="clerk.value">
                {{clerk.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>          
          <div>
            <button mat-button matStepperNext>{{"NEXT"|translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{"DATECHOICE"|translate}}</ng-template>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{"DATECHOICE_PROMPT"|translate}}</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Test" formControlName="dateCtrl" required>
            <mat-hint>{{"DATE_FORMAT"|translate}}</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>{{"NEXT"|translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>{{"TIME"|translate}}</ng-template>
          <p>{{"PROMPT APPOINTMENT FORM STEP 2"|translate}}</p>
          <mat-chip-listbox aria-label="Time selection" formControlName="timeCtrl" required *ngFor="let time of times" [value]="time.value">
            <mat-chip-option>{{time.timeValue}}</mat-chip-option>
          </mat-chip-listbox>
          <div>
            <button mat-button matStepperPrevious>{{"BACK"|translate}}</button>
            <button mat-button matStepperNext>{{"NEXT"|translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{"DONE"|translate}}</ng-template>
        <p>{{"APPOINTMENT FORM CONFIRMATION"|translate}}</p>
        <div>
          <button mat-button matStepperPrevious>{{"BACK"|translate}}</button>
          <button mat-button (click)="onAppointmentCommit()">{{"CONFIRM"|translate}}</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <p>
      <select #langSelect style="float: right;" (change)="changeLanguage(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
      </select>
      {{"FLAG"|translate}}
    </p>
  </mat-card-footer>
</mat-card>