#card-registration {
    width: 60%;
    border-top: 5px solid #3F51B5;
    margin: 5% auto;
}
.container{
  border: 1px solid white;
  height: 100%;
}
mat-form-field {
    width: 100%;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-card-footer p {
    padding: 0 20px;
}

@media screen and (max-width:480px) {
    #card-registration {
        width: 90vw;
    }
}