.container-fluid{
    background-color: #e8e8e8;
}

legend{
    float: none !important;
    width: auto !important;
}
fieldset{
    border: 1px solid black;
    padding: 10px !important;
    margin: 15px !important;
}
#block_confirm{
    display: none;
}
mat-card{
    width: 70%;
    margin: auto;
    height: 100vh;
}
.form-group{
    margin: 10px !important;
}
form{
    width: 80%;
    margin: auto;
}

@media screen and (max-width:480px) {
    form{
        width: 100%;
        background: transparent;
    }
    button{
        margin-bottom: 10px;
    }
    mat-card{
        width: 95%;
        height: auto;
    }
}