<div class="floating-container">
    <button class="floating-button" mat-fab color="warn" id="floatButton" >
        <mat-icon>add</mat-icon>
    </button>
    <div class="element-container">
        <button id="profile" routerLink="/user/profile" mat-fab class="float-element"> 
            <mat-icon>person</mat-icon>
        </button>
        <button  routerLink="/profile" mat-fab class="float-element">
            <mat-icon>settings</mat-icon>
        </button>
        <button id="home"  routerLink="/user/home" mat-fab class="float-element">
            <mat-icon>home</mat-icon>
        </button>
    </div>
</div>
